.admin-main {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
}

.section-title {
    font-size: 2rem;
    text-align: center;
    color: #e0b10e;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dashboard-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 3rem;
}

.dash-card {
    background: #111;
    padding: 1.5rem;
    border-radius: 14px;
    border: 2px solid #222;
    color: #fff;
    text-align: center;
    transition: .3s;
}

.dash-card:hover {
    border-color: #e0b10e;
    transform: translateY(-4px);
}

.dash-number {
    font-size: 2.4rem;
    font-weight: bold;
    color: #e0b10e;
}

.dash-highlight {
    font-size: 1.3rem;
    font-weight: bold;
    color: #e0b10e;
}

.ranking-vendas {
    background: #000;
    padding: 2rem;
    border-radius: 14px;
    border: 2px solid #222;
    margin-bottom: 4rem;
}

.ranking-title {
    color: #e0b10e;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.rank-item {
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 1rem;
}

.rank-item span {
    font-weight: bold;
}

.rank-item small {
    color: #ccc;
}

.barra {
    background: #222;
    width: 100%;
    height: 14px;
    border-radius: 10px;
    margin: 0.5rem 0;
    overflow: hidden;
}

.progresso {
    height: 100%;
    background: #e0b10e;
    border-radius: 10px;
}

.produtos-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.produto-card {
    max-height: 60vh;
    background: #222;
    padding: 1.3rem;
    border-radius: 14px;
    border: 2px solid transparent;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform .3s, border-color .3s;
}

.produto-card:hover {
    transform: translateY(-6px);
    border-color: #e0b10e;
}

.produto-card figure {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 45vh;
    margin-bottom: 1rem;
}

.produto-card figure img {
    max-height: 90%;
    width: auto;
    border-radius: 12px;
}

.produto-card h3 {
    font-size: 1.2rem;
    color: #e0b10e;
    margin-bottom: 0.5rem;
}

.preco .de {
    text-decoration: line-through;
    color: #aaa;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.preco .por {
    color: #e0b10e;
    font-size: 1.2rem;
    font-weight: bold;
}

.preco {
    margin: 1vh 0 1vi 0;
}

.produto-card .btn {
    margin-top: auto;
    padding: 0.6rem 1.2rem;
    background: #e0b10e;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
    display: block;
    text-decoration: none;
    transition: background .3s, transform .3s;
}

.produto-card .btn:hover {
    background: #000;
    color: #e0b10e;
    transform: translateY(-3px);
}
