.containerLogin {
    max-width: 45vi;
    max-height: 100vh;
    margin: 10vh auto;
    padding: 4vh 3vw;

    background: rgba(0, 0, 20, 0.75);
    border: 1px solid rgba(224, 177, 14, 0.25);
    border-radius: 16px;

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
}

/* Cabeçalho */
.containerHeader {
    height: 12vh;
    text-align: center;
    margin-bottom: 1.5rem;
}

.containerHeader h1 {
    color: #e0b10e;
    letter-spacing: 0.2vi;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.containerSubtitle {
    font-size: 0.95rem;
    color: #ccc;
    margin-top: 0.5rem;
}

/* Conteúdo */
.containerContent {
    width: 100%;
}

/* Formulário */
.containerForm {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* Grupo */
.formularioGroup {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.formularioGroup label {
    font-size: 0.95rem;
    color: #ddd;
    margin-top: 2vh;
    margin-bottom: 0.2vh;
}

.formularioGroup input {
    padding: 12px 14px;
    border-radius: 8px;

    border: 1px solid rgba(224, 177, 14, 0.25);
    background: #000;

    color: #fff;
    font-size: 1rem;
}

.formularioGroup input:focus {
    outline: none;
    border-color: #e0b10e;
    box-shadow: 0 0 12px rgba(224, 177, 14, 0.4);
}

/* Botão */
.btn {
    margin-top: 0.5rem;
    padding: 12px 24px;

    background: transparent;
    border: 2px solid #e0b10e;
    color: #e0b10e;

    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;

    transition: 0.3s ease;
}

.btn:hover {
    background: #e0b10e;
    color: #000;
    box-shadow: 0 0 20px #e0b10e;
}

/* Footer do formulário */
.formularioFooter {
    margin-top: 1.2rem;
    font-size: 0.9rem;
    text-align: center;
    color: #aaa;
}

.formularioFooter a {
    color: #e0b10e;
    font-weight: bold;
    text-decoration: none;
}

.formularioFooter a:hover {
    text-shadow: 0 0 8px #e0b10e;
}