.checkoutMain {
    max-width: 900px;
    margin: auto;
    padding: 3rem 2rem;
    color: #fff;
}

.sectionTitle {
    text-align: center;
    font-size: 2rem;
    color: #e0b10e;
    margin-bottom: 2.5rem;
}

.checkoutForm {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.subTitle {
    color: #e0b10e;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formRow {
    display: flex;
    gap: 1rem;
}

label {
    margin-bottom: .4rem;
    font-weight: bold;
    color: #e0b10e;
}

input, select {
    padding: .8rem;
    border-radius: 8px;
    border: 2px solid #333;
    background: #1a1a1a;
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: .3s;
}

input:focus, select:focus {
    border-color: #e0b10e;
    background: #222;
}

.btnFinalizar {
    padding: 1rem;
    background: #e0b10e;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
}

.btnFinalizar:hover {
    background: #000;
    color: #e0b10e;
    transform: translateY(-3px);
    border: solid 1px #e0b10e;
}
