*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header{
    background-color: black;
    justify-content: space-between;
    align-items: center;
    display:flex;
}

header ul{
    float: left;
    display: flex;
    list-style: none;
}

header a{
    text-decoration: none;
    color: #e0b10e;
    font-size: 2.5vh;
}

header a:hover{
    color: rgb(236, 221, 221);
}

.opcaoNav{
    margin-right: 2.5vi;
}

#logo img{
    margin-left: 2vi;
    margin-top: 1vh;
    height: 8vh;
    width: auto;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}