*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#logo img{
    margin-left: 2vi;
    margin-top: 1vh;
    height: 8vh;
    width: auto;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

header{
    background-color: black;
    justify-content: space-between;
    align-items: center;
    display:flex;
    height: 12vh;
}

header ul{
    float: left;
    display: flex;
    list-style: none;
}

header .opcaoNav{
    position: relative;
    text-decoration: none;
    color: #e0b10e;
    font-size: 2.5vh;
    transition: all 0.4s ease;
}

header .opcaoNav:hover{
    color: rgb(236, 221, 221);
    bottom: 0.2vh;
}

header #pgAtual{
    text-decoration:underline;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.opcaoNav{
    margin-right: 2.5vi;
    margin-bottom: 50px;
}
