.produtos {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.produtos .sectionTitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
    color: #f1f1f1;
}

.produtosGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

.produtoCard {
    background: #181818;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #333;
    transition: transform .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.produtoCard:hover {
    transform: translateY(-5px);
}

.produtoCard figure {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.produtoCard figure img {
    height: 25vh;
    width: auto;
    border-radius: 8px;
    display: block;
}

.produtoCard h3 {
    margin-top: 12px;
    font-size: 1.1rem;
    color: #ffe81f;
}

.preco {
    margin: 2vh 0 2vi 0;
}

.preco .de {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}

.preco .por {
    color: #ffe81f;
    font-weight: bold;
}

.btn {
    margin-top: auto;
    padding: 8px 15px;
    background: #ffe81f;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    transition: background .3s;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #000;
    color: #ffe81f;
    border: solid 1px #e0b10e;
}