.banner-principal {
    width: 100%;
    height: 75vh;
    background: url('../src/images/banner.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-principal::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.banner-content h1 {
    font-size: 2.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.btn-banner {
    padding: 0.8rem 1.6rem;
    background-color: #e0b10e;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background .3s, transform .3s;
}

.btn-banner:hover {
    background: #fff;
    transform: translateY(-3px);
}

.categorias {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
}

.categorias h2 {
    text-align: center;
    font-size: 2rem;
    color: #e0b10e;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.categorias-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(17vi, 1fr));
}

.categoria-card {
    max-height: 47vh;
    background: #111;
    color: #fff;
    padding: 1.3rem;
    border-radius: 14px;
    text-align: center;
    border: 2px solid transparent;
    transition: transform .3s, border-color .3s;
}

.categoria-card:hover {
    transform: translateY(-6px);
    border-color: #e0b10e;
}

.categoria-card figure {
    max-height: 20vh;
    width: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.categoria-card img {
    width: 70%;
    border-radius: 12px;
}

.categoria-card h3 {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
    color: #e0b10e;
}

.categoria-card p {
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.btn-card {
    padding: 0.6rem 1.2rem;
    background: #e0b10e;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    transition: background .3s, transform .3s;
}

.btn-card:hover {
    background: #000;
    color: #e0b10e;
    transform: translateY(-3px);
}

.descontos {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
}

.descontos h2 {
    text-align: center;
    font-size: 2rem;
    color: #e0b10e;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

.descontos-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.descontos-container .produto img {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 1rem;
    display: block;
}

.produto {
    background: #111;
    padding: 1.3rem;
    border-radius: 14px;
    border: 2px solid transparent;
    color: #fff;
    text-align: center;
    transition: transform .3s, border-color .3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.produto:hover {
    transform: translateY(-6px);
    border-color: #e0b10e;
}

.produto img {
    width: 80%;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.produto h3 {
    font-size: 1.2rem;
    color: #e0b10e;
    margin-bottom: 0.5rem;
}

.produto .btn {
    margin-top: auto;
    padding: 0.6rem 1.2rem;
    background: #e0b10e;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: background .3s, transform .3s;
}


.preco {
    margin-bottom: 1rem;
}

.preco .de {
    text-decoration: line-through;
    color: #aaa;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.preco .por {
    color: #e0b10e;
    font-size: 1.2rem;
    font-weight: bold;
}

.produto .btn {
    padding: 0.6rem 1.2rem;
    background: #e0b10e;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background .3s, transform .3s;
}

.produto .btn:hover {
    background: #000;
    color: #e0b10e;
    transform: translateY(-3px);
}