.carrinhoMain {
    padding: 4rem 2rem;
    max-width: 1300px;
    margin: auto;
}

.sectionTitle {
    text-align: center;
    font-size: 2rem;
    color: #e0b10e;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.carrinhoLayout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.carrinhoContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.produtoCarrinho {
    background: #222;
    border-radius: 14px;
    padding: 1.3rem;
    display: flex;
    gap: 1rem;
    border: 2px solid transparent;
    transition: .3s;
    color: #fff;
}

.produtoCarrinho:hover {
    border-color: #e0b10e;
    transform: translateY(-4px);
}

.produtoImagem {
    width: 120px;
    height: 120px;
    object-fit: contain;
    background: #111;
    border-radius: 10px;
    padding: 10px;
}

.produtoInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produtoCarrinho h3 {
    font-size: 1.1rem;
    color: #e0b10e;
    margin-bottom: 0.4rem;
}

.preco {
    margin-bottom: .8rem;
}

.de {
    text-decoration: line-through;
    color: #aaa;
    margin-right: .4rem;
}

.por {
    color: #e0b10e;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn {
    padding: 0.6rem 1.2rem;
    background: #e0b10e;
    color: #000;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.btn:hover {
    background: #000;
    color: #e0b10e;
    border: solid 1px #e0b10e;
}

.resumoCarrinho {
    background: #111;
    color: #fff;
    padding: 2rem;
    border-radius: 14px;
    border: 2px solid #333;
    height: fit-content;
    position: sticky;
    top: 20px;
}

.resumoCarrinho h3 {
    color: #e0b10e;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.resumoCarrinho p {
    margin: .5rem 0;
    font-size: 1.1rem;
}

.resumoCarrinho strong {
    color: #ffe81f;
    font-size: 1.3rem;
}

.resumoCarrinho .btn {
    display: block;
    margin-top: 1.5rem;
    text-align: center;
}

.resumoToggle {
    cursor: pointer;
    font-weight: bold;
    color: #e0b10e;
    padding: .6rem;
    background: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: .8rem;
    list-style: none;
}

.resumoToggle::marker {
    display: none;
}

.resumoToggle::after {
    content: "▼";
    float: right;
    transition: .3s;
    font-size: .9rem;
}

.resumoExpandivel[open] .resumoToggle::after {
    transform: rotate(-180deg);
}

.itensResumo {
    margin: 1rem 0;
    background: #1a1a1a;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #333;
}

.itemResumo {
    padding: 0.7rem 0;
    border-bottom: 1px solid #333;
}

.itemResumo:last-child {
    border-bottom: none;
}

.produtoNome {
    font-weight: bold;
    color: #e0b10e;
}

.produtoQtd, .produtoPrecoUnit, .produtoTotalItem {
    font-size: 0.95rem;
    color: #ccc;
}